<%= form_for(@opponent) do |f| %>
  <% if @opponent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opponent.errors.count, "error") %> prohibited this opponent from being saved:</h2>

      <ul>
      <% @opponent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :skill_level %><br />
    <%= f.select(:skill_level, Fan::skill_level_list) %>
  </div>
  <div class="field">
    <%= f.label :home_capacity %><br />
    <%= f.number_field :home_capacity %>
  </div>
  <div class="field">
    <%= f.label :domestic %><br />
    <%= f.check_box :domestic %>
  </div>
  <div class="field">
    <%= f.label :rival %><br />
    <%= f.check_box :rival %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
