<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :ticket_type %><br />
    <%= f.select(:ticket_type, Ticket::TICKET_TYPE_LIST) %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.collection_select :match_id, Match.all, :id, :match_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
