<h1>Tickets</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Ticket type</th>
    <th>Fan</th>
    <th>Match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.quantity %></td>
    <td><%= ticket.ticket_type %></td>
    <td><%= ticket.fan.name %></td>
    <td><%= ticket.match.match_type %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Buy Ticket', new_ticket_path %>
