<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @ticket.quantity %>
</p>

<p>
  <b>Ticket type:</b>
  <%= @ticket.ticket_type %>
</p>

<p>
  <b>Fan:</b>
  <%= @ticket.fan.name %>
</p>

<p>
  <b>Match:</b>
  <%= @ticket.match.match_type %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
