<h1>Listing matches</h1>

<table>
  <tr>
    <th>Match type</th>
    <th>Home</th>
    <th>Opponent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.match_type %></td>
    <td><%= match.home %></td>
    <td><%= match.opponent_id %></td>
    new_ticket
    <% if current_fan.admin? %>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, confirm: 'Are you sure?', method: :delete %></td>

    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Buy Tickets', new_ticket_path %>


