<footer class="footer">
  <nav class="round"> 
    <ul id="footercss">
      <%= link_to "Home", pages_home_path %> ::
	  <%= link_to "About Us", pages_about_path %> :: 
      <%= link_to "Contact Us", pages_contact_path %> :: 
      <%= link_to "Privacy Policy", pages_privacy_policy_path %> ::
      <%= link_to "The Smurfs", '#' %>
    </ul>
  </nav>
</footer>
